/*colores*/

$colorPrincipal:#000000;
$colorSecundario:white;
$colorTerciario:#0CC9A0;
$colorCuaternario:#0CC39B;

/*fuentes*/

$fuentePrincipal :'Verdana';
$fuenteSecundaria:'Arial';

/*medidas*/

$medidaBasica:1rem;
$medidaBasicaCaja:820px;

