/*colores*/

$colorPrincipal:#000000;
$colorSecundario:white;
$colorTerciario:#00FFFF;

/*fuentes*/

$fuentePrincipal :'Verdana';
$fuenteSecundaria:'Arial';

/*medidas*/

$medidaBasica:1rem;
$medidaBasicaCaja:820px;

