@import './grids';
@import './operaciones';
@import './bucle';

/*colores*/
  /*fuentes*/
  /*medidas*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*menu*/

.container-fluid{
        background-color: $colorPrincipal;
        border: double white 20px;
        color: $colorSecundario;
        font-family: $fuentePrincipal;
}
     
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
        list-style-type: none;
        align-items: center;
        text-decoration: none;
        color: $colorPrincipal;
    }
}

div{
    img{
        display: block; 
        margin:auto;
                centrado{
                    text-align: center;
        }
    }
}

.contactos h3{
        font-family: $fuentePrincipal;
        color: $colorSecundario;
        float:left;
        background-color:#00FFFF;
}

/*quienes somos*/

.container-md{
    a{
        display: flex;
        align-items: center;
        color:$colorPrincipal;
        list-style-type: none;
        text-decoration: none;
    }
}

.quienesSomos{
    background-image: linear-gradient(to right, rgb(30, 148, 99), rgb(26, 145, 125), rgb(57, 168, 131));
    p{
        color: $colorPrincipal;
        font-family:'Times New Roman', Times, serif;
        font-size: 18px;
    }
    h1{
    color:$colorSecundario;
    font-family:$fuentePrincipal;
    text-align: center;
    font-size: 40px;
    background-color: #087070;
    }
    
    h2{
        color: $colorPrincipal;
        font-family: $fuenteSecundaria;
        background-color: $colorCuaternario;
        font-size: 20px;
    }

    h3{
        color: $colorSecundario;
        font-family:$fuenteSecundaria;
        font-size: 20px;
    }
    
    h4{
        color:$colorPrincipal;
        font-family: $fuenteSecundaria;
        font-size: 18px;
        text-align:justify;
    }
   }
   
   footer{
       h5{
        color: $colorSecundario;
        font-family:$fuenteSecundaria;
        font-size: 12px;
        font-family: $fuenteSecundaria;
        }
   }

/*clases*/

body{
    background-color: $colorTerciario;
    p{
        color: $colorPrincipal;
        font-family: $fuenteSecundaria;
        font-size: 18px;
        li{
            color:$colorPrincipal;
            font-family: $fuenteSecundaria;
            font-size: 18px;
        }
    }
}

.title{
    font-size: 40px;
    font-family: $fuentePrincipal;
    color: $colorSecundario;
    background-color: #087070;
}

.obras{
    font-size: 25px;
    color: $colorPrincipal;
}
/*
main{
    display: grid;
    grid-template-areas:
    'titulo titulo titulo' 
    'text texto texto'
    'foto foto  foto';
    grid-template-columns: 5fr 5fr 2fr;
    grid-template-rows:500px 600px;
    gap:8px;
    margin:2px;
}
*/
.fotos{
    overflow: hidden;
}

/*novedades*/

.container-all{
    height: 900px;
    width: 100%;
    max-width: 1370px;
    margin: auto;
    padding: 60px;
    margin-top: 100px;
    background-color: $colorTerciario;
    margin-top: 0px;

}

.title{
    font-size: 40px;
    font-family: $fuentePrincipal;
    color: $colorSecundario;
    background-color: #087070;
    text-align:center;
    
}

.container-all img{
    width: 350px;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    grid-area: img;
    transform: rotate(-3deg);
}

.container-all img:hover{
    transform: translateZ(30px);
}

.container-all{
    p{ color:$colorPrincipal;
        background-color:$colorTerciario;
        font-family:$fuenteSecundaria;
        font-size: 18px;
        font-weight: 300;
    }
}

.imagen1{
float: right;
}

.imagen2{
    float: left;;
}

.imagen3{
    float: right;
}

/*Galeria*/

h1{
    color: $colorSecundario;
    background-color: #087070;
    text-align: center;
}

.fotos{
    p{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: $colorSecundario;
    }
}

caja{
    width: 80px;
    height: 200px;
}

/*media querie*/

/*ESCRITORIO*/

@media only screen and (mind-width: 768px) {
    body{
        background-color: black;
    }
}

main{
    display: grid;
    grid-template-areas:
    "caja 1 caja 2 caja 2"
    "caja 2 caja 3 caja 4"
    "caja 5 caja 6 caja 7";
     grid-template-columns: 5fr 4fr 3fr;
    grid-template-rows:300px 200px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
    justify-items: stretch;
    align-items: stretch;
}

/*TABLET*/
@media only screen and (max-width:767px) and (mind-width:321px){
    body{
        background-color: rgb(66, 13, 212);
        }
}

main{
    display: grid;
    grid-template-areas:
    "caja 1 caja 2"
    "caja 3 caja 4"
    "caja 5";
     grid-template-columns: 5fr 3fr;
    grid-template-rows:300px 340px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}


       
/*MOBILE*/

@media only screen and (max-width:320px) {
    body{
        background-color:rgb(5, 114, 32);
    }
}

main{
    display: grid;
    grid-template-areas:
    "caja 1 caja 2"
    "caja 3 caja 4";
     grid-template-columns: 5fr 3fr;
    grid-template-rows:250px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}